body {
    padding: 0;
    margin: 0;
    font-family: "inter", sans-serif;
    font-size: 16px;
    background-color: #FFF8F0;
    max-width: 1440px;
    position:relative
}



/*HERO SECTION*/

h1 {
    font-family: League Spartan;
    font-size: 48px;
    font-weight: 700;
    line-height: 50px;
    margin-top: 0;
    margin-bottom: 0;

    padding-top: 10px;
    padding-bottom: 30px;
    color: #190D37;
    position: relative;
    


}

.highlight-line{
    position: absolute;
  
    margin-top:-10px;
    z-index:-10;
   

}







.head {

    display: flex;
    max-width: 1060px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;
}

.writeup {

    display: flex;
    flex-direction: column;
    width: 50%;
    /* margin-left: 190px; */
    margin-right: 20px;
}

.address {
    display: flex;

    padding-top: 32px;
    padding-bottom: 52px;

}

.email-head {

    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    margin-left: 0;

    /* padding-right: 10px; */
    /* display:inline-block; */
    align-items: center;
    padding-left: 6px;


}

.phonenumber-wrapper {

    display: flex;
    align-items: center;
}

.phonenumber {

    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    /* display:inline-block; */
    justify-content: center;
    align-items: center;



}


.phone-icon {
    padding-right: 6px;
    width: 16px;
    justify-content: center;
}


.email-wrapper {

    display: flex;
    align-items: center;
    padding-left: 95px;
}


.prefix {

    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #331E6A;


}



.subtext {

    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;


    padding-bottom: 20px;
    color: #331E6A;
    margin-top: 0;


}

.image {
    width: 50%;
    /* overflow:hidden; */
   
    
}

.image-hero{
    /* object-fit: cover; */
    width:530px;
    border-radius: 0px 0px 200px 200px;
    position: absolute;
    top:0;

}

.button {
    padding: 12px 0 12px 0;
    background-color: black;
    color: white;
    border-radius: 4px;
    width: 138px;
    text-align: center;
    text-decoration: none;
}


.button:hover {
    background-color: rgb(179, 173, 173);
    transition: ease-in;
    cursor: pointer;
}

.Purple_Ellipse {
    position:absolute;
    z-index:-1;
    height: 160px;
    width: 300.5px;
    left: 720.8px;
    top: 40.5px;
    border-radius: 0px;
    background: #DC93FF;
    filter: blur(100px);
    transform: rotate(133.77deg);



}


/*WHAT I DO SECTION*/

.whatIDo {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 96px;
    padding-bottom:10px;

}

.prefix2 {

    font-family: Poppins;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #2858FF;



}

h2 {

    font-family: League Spartan;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    width: 700px;
    margin-bottom: 8px;
    margin-top: 10px;
    padding: 0;
    text-align: center;


}


.subtext2 {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    width: 686px;




    color: #331E6A;
    margin-top: 0;
    margin-bottom: 48px;


}


.card-wrapper {
    display: flex;
    width: 1060px;
    align-items: center;
    gap: 20px;

}

.card {

    width: 340px;


    background: #FFFFFF;
    box-shadow: 6px 2px 25px -9px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position:relative;
}

.card-title {

    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;

    text-align: center;
    margin: 0;
    padding: 20px;

}

.card-text {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    padding: 20px;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
    color: #55206D;




}

.blue-blob{
    position:absolute;
    z-index:-1;
    height: 300px;
width: 321.69317626953125px;
left: 1027px;
top: 720px;
border-radius: 0px;

  }

  .coral-blob{
    position:absolute;
    z-index:-1;
    height: 300px;
    width: 330.2207336425781px;
    left: 78px;
    top: 950px;
    border-radius: 0px;
    
  }

/* MY PROJECT SECTION */

.myProjects {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 110px;
    margin-bottom: 127px;
    
}

.project-wrapper{
    display: flex;
    flex-direction: column;
    position: relative;
}

.project-section-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1060px;
    align-items: center;
    gap: 40px;

}


.individual-project-wrapper {
    display: flex;
    padding-bottom: 40px;


}

.icon1,
.icon2,
.icon3 {

    font-family: Poppins;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    padding: 44px 47px 44px 48px;

    border-radius: 10px;



}

.icon1 {
    background-color: #19ACFF;
}

.icon2 {
    background: #FFE819;

}

.icon3 {
    background: #FF1919;

}


.project-text-section {
    display: flex;
    flex-direction: column;
    padding-left: 20px;

}

.project-title {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;

    text-align: left;
    padding-bottom: 8px;



}

.project-text {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    width: 880px;
    padding-bottom: 8px;
    color: #55206D;



}

.project-link {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #6A87A3;
    text-decoration: none;



}

.project-link:hover {
    color: #000000;
    transition: ease-in;



}

.image-link {
    padding-left: 6.8px;
    width: 8.4px;
}


.Yellow_Ellipse {
    position:absolute;
    z-index:-1;
    height: 300px;
    width: 300px;
    left: -150px;
    top: 1931px;
   
    
border-radius: 0px;
background: #FFB800;
filter: blur(250px);



}

/* PRICING SECTION */

.Pricing {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 96px;
    margin-bottom: 127px;
}

.card2 {
    width: 340px;
    display: flex;
    flex-direction: column;


    background: #FFFFFF;
    box-shadow: 6px 2px 25px -9px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding-left: 20px;

}

.prefix3 {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #2858FF;
    padding-top: 20px;
    padding-bottom: 8px;


}

.price-page {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding-bottom: 8px;



}

.largetext {
    font-family: Poppins;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;

    align-items: center;
    justify-content: center;


}

.smalltext {

    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;

    /* justify-content: center;
    align-items: center; */
    color: #8A8A8A;


}

.price-text {

    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    color: #8B8B8B;


}

.price-list {
    padding-top: 8px;
    margin: 0;
    padding-left: 0;
    margin-bottom: 16px;

}

.price-list li {
    list-style: none;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #666666;
    padding-top: 8px;



}

.price-list li img {

    padding-right: 8px;


}



.contactme-button {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;

    text-align: center;
    color: #2F2F2F;
    text-decoration: none;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: white;
    border: 2px solid #000000;
    width: 300px;
    border-radius: 4px;
    margin-bottom: 20px;


}

.contactme-button2 {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;

    text-align: center;
    background-color: #2F2F2F;
    text-decoration: none;
    padding-top: 12px;
    padding-bottom: 12px;
    color: white;
    border: 2px solid #000000;
    width: 300px;
    border-radius: 4px;
    margin-bottom: 20px;


}

.contactme-button:hover {

    background-color: #2F2F2F;

    color: white;
    transition: ease-in;
    cursor: pointer;



}

.contactme-button2:hover {

    color: #2F2F2F;
    background-color: white;
    transition: ease-in;
    cursor: pointer;



}

.Blue_Ellipse {
    position:absolute;
    z-index:-1;
    height: 300px;
width: 300px;
left: 1290px;
top: 2657px;
border-radius: 0px;

background: #64DAFF;
filter: blur(250px);



}

/* QUESTION SECTION */

.Questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 96px;
    margin-bottom: 127px;
}

.question-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    align-items: left;
    gap: 16px;




}

individual-question-wrapper {
    display: flex;
    flex-direction: column;
}

.question-line {
    display: flex;

    align-items: center;




}

.question {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #55206D;
    padding-bottom: 0;
}

.answer {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #6A87A3;
    padding-top: 8px;
}

.arrow {
    width: 14px;
    height: 7px;
    padding-left: 234px;
}


/* FOOTER SECTION */

.footer-text {
    text-align: center;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #000000;
    color: #FFFFFF;



}